# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.yarn/

# build outputs
.next
out
dist
build

# testing
/coverage

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env*.local

# OS files
.DS_Store
Thumbs.db
*.pem

# editor settings
.vscode/
.idea/

# Docker
.dockerignore

# TypeScript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# SpecStory
.specstory/.yarn/
.pnp.* # optional: ignore Yarn PnP files if using
